body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}

#input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#todo-input, #points-input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#add-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#add-button:hover {
    background-color: #0056b3;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}